.send{
    font-size: 230%;
    color: var(--ion-color-primary);
}
.row{
    padding: 8px 0;
}
.row div{
    align-items: center;
}
.col10{
    padding: 5px 5px 5px 10px;
}
.col2{
    text-align: center;
}
.input{
    border: 1px solid transparent;
}

.pesan{
    --background: #ecf0f1;
}
.pesanitem{
    position: relative;
    display: flex;
    margin-top: 10px;
}
.pesanitem.kanan{
    justify-content: flex-end;
}
.pesanitem.kiri .isipesan{
    background: #fff;
    padding: 6px 12px;
    border-radius: 6px;
    display: inline-block;
    max-width: 70%;
    margin-left: 14px;
}
.pesanitem.tengah .isipesan{
    background: var(--ion-color-primary-tint);
    padding: 6px 12px;
    border-radius: 6px;
    display: inline-block;
    max-width: 70%;
    margin: auto;
}
.pesanitem.kanan .isipesan{
    background: var(--ion-color-primary);
    padding: 6px 12px;
    border-radius: 6px;
    display: inline-block;
    max-width: 70%;
    color: #fff;
    margin-right: 14px;
    text-align: right;
}
.read{
    font-size: 70%;
    justify-content: end;
    align-items: center;
}
.pesanload{
    margin-bottom: 30px;
}