ion-toolbar,
ion-content{
    --background: #eaf1ff;
}
.alamat{
    padding: 14px 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 5px #bdc3c7;
    font-size: 90%;
    margin-bottom: 10px;
    background-color: #ffffff;
}
.alamat .judul{
    font-weight: bold;
    text-transform: uppercase;
}
.alamat .lengkap{
    font-size: 90%;
}
.alamat .col2{
    text-align: right;
    font-size: 180%;
}

.notif{
    padding: 4px 8px;
    background: #ffd32a;
    color: #2c3e50;
    font-size: 70%;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 3px #bdc3c7;
}

.btn-add ion-icon{
    color: #ffffff;
    font-size: 240%;
}