ion-content,
ion-toolbar{
  --background: #eaf1ff;
}
.kategori{
  padding: 10px;
  justify-content: start;
  align-items: flex-start;
}
.kategori .col3{
  padding: 8px;
  text-align: center;
}
.kategori .col3 .wrap{
  padding-bottom: 12px;
}
.kategori .col3 .foto img{
  width: 70%;
}
.kategori .col3 .cat-title{
  margin-top: 10px;
  font-weight: bold;
  font-size: 90%;
}

.titel{
  text-align: center;
  margin-bottom: 12px;
}
.titel .line{
  border-bottom: 2px solid var(--ion-color-primary);
  margin-top: -12px;
  z-index: 1;
}
.titel .text{
  font-family: 'appbold';
  font-size: 120%;
  color: var(--ion-color-primary);
  background-color: #eaf1ff;
  padding: 0 12px;
  display: inline-block;
  margin: auto;
  z-index: 100;
}