.total{
    border-top: 12px solid #f4f4f4;
    padding: 20px;
}
.otomatis,
.pilihmetode,
.transfer{
    padding: 20px;
}
.transfer{
    border-top: 12px solid #f4f4f4;
}
.text{
    font-family: 'appbold';
    margin-bottom: 4px;
}
.total .inv{
    font-family: 'appbold';
    font-weight: bolder;
    font-size: 220%;
    color: var(--ion-color-primary);
    margin-bottom: 12px;
}
.total .notif{
    background-color: #FFF7E2;
    color: #9A6F32;
    border: 1px solid #9A6F32;
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    font-size: 90%;
    margin-bottom: 20px;
}
.total .notif-sukses{
    background-color: #dcffeb;
    color: #27ae60;
    border: 1px solid #27ae60;
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    font-size: 90%;
    margin-bottom: 20px;
}
.total .notif-batal{
    background-color: #ffdbd6;
    color: #c0392b;
    border: 1px solid #c0392b;
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    font-size: 90%;
    margin-bottom: 20px;
}
.total .info{
    border-top: 1px solid #f4f4f4;
    padding: 12px 0;
}
.total .batas{
    font-size: 85%;
}

.list{
    width: 100%;
    margin-top: 10px;
}

.rekening{
    margin-bottom: 20px;
}
.rekening .atasnama{
    font-family: 'appbold';
    text-transform: uppercase;
    margin-bottom: 8px;
}
.rekening .norek{
    font-family: 'appblack';
    font-size: 140%;
    color: #2c3e50;
    padding: 8px 12px;
    background-color: #f4f4f4;
    border-radius: 8px;
}

.metode .col6{
    padding: 8px;
    position: relative;
}
.metode .metode-item{
    color: #2c3e50;
    border: 2px dashed #2c3e50;
    background-color: #cfcfcf;
    padding: 16px 8px;
    font-family: "appblack";
    text-align: center;
    border-radius: 6px;
}
.metode .metode-item.aktif{
    color: #ffffff;
    border: 2px solid #2c3e50;
    background-color: #2c3e50;
}
.label{
    position: absolute;
    top: 12px;
    right: 12px;
    color: #ffffff;
    font-size: 120%;
}
.img{
    margin-bottom: 10px;
}
.otomatis .rekening{
    margin-bottom: 30px;
}

.bukti{
    text-align: center;
}
.bukti img{
    max-width: 100%;
    max-height: 50vh;
    border: 2px dashed var(--ion-color-primary);
    border-radius: 12px;
}