<div class="inner-content ion-padding">
  <ion-button (click)="chat()" color="def" *ngIf="login" expand="full" size="large" class="mb10 mt10">
    <ion-icon name="chatbubbles"></ion-icon>&nbsp;Live Chat
  </ion-button>
  <ion-button (click)="logins()" *ngIf="!login" color="def" expand="full" size="large" class="mb10 mt10">
    <ion-icon class="chaticon" name="chatbubbles"></ion-icon>&nbsp;Live Chat
  </ion-button>
  <ion-button (click)="wasap()" color="success" expand="full" size="large">
    <ion-icon class="chaticon" name="logo-whatsapp"></ion-icon>&nbsp;Whatsapp
  </ion-button>
</div>
