<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="end" class="close-button" (click)="closeModal()">
      <ion-icon name="close" color="danger"></ion-icon>
    </ion-buttons>
    <ion-title class="font-bold text-primary">Penarikan Saldo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="form">
    <div class="item">
      <div class="titel">Masukkan Jumlah Penarikan</div>
      <div class="input">
        <ion-input type="number" class="jumlah" [(ngModel)]="jumlah"></ion-input>
      </div>
      <small class="text-danger">hanya masukkan angka saja, tidak pakai koma dan titik.<br/>contoh: 50000</small>
    </div>
    <div class="item">
      <div class="row">
        <div class="col6">
          <ion-button color="medium" expand="full" (click)="setJumlah(50000)">50.000</ion-button>
        </div>
        <div class="col6">
          <ion-button color="medium" expand="full" (click)="setJumlah(100000)">100.000</ion-button>
        </div>
      </div>
      <div class="row">
        <div class="col6">
          <ion-button color="medium" expand="full" (click)="setJumlah(150000)">150.000</ion-button>
        </div>
        <div class="col6">
          <ion-button color="medium" expand="full" (click)="setJumlah(200000)">200.000</ion-button>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="titel">Rekening Tujuan</div>
      <div class="mt10" *ngIf="rekening.length == 0">
        <ion-button color="medium" expand="full" (click)="closeModal()" routerLink="/editrekening/0">Tambah Rekening Baru</ion-button>
      </div>
      <div class="input" *ngIf="rekening.length > 0">
        <ion-select [(ngModel)]="rek" interface="action-sheet" (ionChange)="setoke()">
          <ion-select-option value="" selected>Pilih Rekening Tujuan</ion-select-option>
          <ion-select-option *ngFor="let i of rekening" value="{{i.id}}">{{i.atasnama}} - {{i.norek}} ({{i.bank}})</ion-select-option>
        </ion-select>
      </div>
    </div>
    <div class="item mb10">
      <div class="titel">Catatan</div>
      <div class="input">
        <ion-input type="text" [(ngModel)]="keterangan"></ion-input>
      </div>
    </div>
    <div class="item">
      <ion-button class="mb10" color="primary" expand="full" (click)="tarik()">Tarik Saldo</ion-button>
      <ion-button color="danger" expand="full" (click)="closeModal()">Batalkan</ion-button>
    </div>
  </div>
</ion-content>
