ion-button{
    font-size: 110%;
}
.sign-wrap{
    width: 96%;
    margin: auto;
    padding: 12px;
    margin-top: 6vh;
}
.row.mb40{
    margin: 0px -6px;
}
.col6{
    padding: 6px;
}
.title{
    font-size: 16pt;
}

.form-group{
    border: 1px solid var(--ion-color-medium);
}
.link{
    font-family: "appmedium";
    text-decoration: none;
}

.otp{
    font-size: 160%;
    font-family: 'appbold';
    letter-spacing: 2px;
}