<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab2" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title class="font-bold">Detail Pembelian</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="inputForm" class="formwrap">
    <ion-input class="hidden" formControlName="kurir"></ion-input>
    <ion-input class="hidden" formControlName="paket"></ion-input>
    <ion-input class="hidden" formControlName="ongkir"></ion-input>
    <ion-input class="hidden" formControlName="diskon"></ion-input>
    <ion-input class="hidden" formControlName="alamat"></ion-input>
    <ion-input class="hidden" formControlName="berat"></ion-input>
    <ion-input class="hidden" formControlName="dari"></ion-input>
    <ion-input class="hidden" formControlName="tujuan"></ion-input>
    <ion-input class="hidden" formControlName="total"></ion-input>
    <ion-input class="hidden" formControlName="saldo"></ion-input>
    <ion-input class="hidden" formControlName="idproduk"></ion-input>
    <ion-input class="hidden" formControlName="dropship"></ion-input>
    <ion-input class="hidden" formControlName="dropshipnomer"></ion-input>
    <ion-input class="hidden" formControlName="dropshipalamat"></ion-input>
    <ion-input class="hidden" formControlName="metodebayar"></ion-input>
    <ion-input class="hidden" formControlName="voucher"></ion-input>
    <ion-input class="hidden" formControlName="pilihongkir"></ion-input>
  <div class="seg">
    <div class="segtitle mb10">Daftar Belanja</div>
    <!--<div class="habis" *ngIf="stoknya == 0">
      belum ada produk terpilih
    </div>-->
    <ion-list class="wrapitem" *ngIf="produk" lines="none">
      <div class="item" *ngFor="let i of produk">
        <div class="row">
          <div class="col3 foto" [ngStyle]="{'background-image':'url('+i.foto+')'}">
          </div>
          <div class="col9 right">
              <div class="title">{{i.nama}}</div>
              <div class="variasi">{{i.variasi}}</div>
              <div class="jumlah">x{{i.jumlah}} pcs</div>
              <div class="harga">{{i.harga}}</div>
              <div class="ket">{{i.keterangan}}</div>
          </div>
        </div>
      </div>
    </ion-list>
  </div>
  <div class="seg">
    <div class="row mb10">
      <div class="segtitle col8">Alamat Pengiriman</div>
      <div class="col4 ubah"><span class="text-primary" routerLink="/cekoutalamat">Ubah Alamat</span></div>
    </div>
    <div *ngIf="kuriroke && !alamat">
      <ion-button type="button" routerLink="/cekoutalamat" color="primary" expand="full">Pilih Alamat Tujuan</ion-button>
    </div>
    <!--<div *ngIf="!kuriroke" class="kuriroke">Tunggu Sebentar...</div>-->
    <div class="alamat" *ngIf="alamat">
      <div class="judul">{{alamatjudul}}</div>
      <div class="nama">{{alamatnama}} ({{alamatnohp}})</div>
      <div class="lengkap">{{alamatlengkap}}</div>
    </div>
  </div>
  <div class="seg">
    <div class="row mb10">
      <div class="segtitle col8">Opsi Pengiriman</div>
      <div *ngIf="alamat" class="col4 ubah"><span class="text-primary" (click)="openSelect()">Ubah Kurir</span></div>
    </div>
    <div class="kurir">
      <div *ngIf="!kuriroke" class="kuriroke">Sedang memuat perhitungan ongkos kirim...</div>
      <div *ngIf="!alamat" class="warning">Pilih alamat terlebih dahulu</div>
      <div *ngIf="kuriroke && !paketoke && alamat">
        <ion-button type="button" (click)="openSelect()" color="primary" expand="full"><fa-icon [icon]="faSh"></fa-icon>&nbsp;&nbsp;Pilih Kurir Pengiriman</ion-button>
      </div>
      <div class="alamat" *ngIf="kuriroke && paketoke" (click)="openSelect()">
        <div class="nama">{{namakurir}} {{namapaket}} - Rp {{kurirongkir|number:'':'es'}}</div>
        <div class="estimasi">estimasi pengiriman {{estimasi|number}} hari</div>
      </div>
    </div>
    <div class="pilihongkir">
      <!--
      <ion-select *ngIf="kuriroke" formControlName="pilihongkir" class="form" interface="action-sheet" (ionChange)="cekOngkir()" #mySelect>
        <ion-select-option value="" selected>Pilih Kurir Pengiriman</ion-select-option>
        <ion-select-option *ngFor="let p of pilihanongkir" value="{{p.kurir}}-{{p.service}}-{{p.harga}}-{{p.kuririd}}-{{p.serviceid}}-{{p.etd}}-{{p.cod}}">{{p.kurir}} {{p.service}} ({{p.etd}} hari) - Rp. {{p.harga|number}}</ion-select-option>
      </ion-select>
      -->
      <ion-modal trigger="open-modal" [isOpen]="isModalOpen">
        <ng-template>
          <ion-content class="ion-padding">
            <div class="pilih-judul">Pengiriman Nasional</div>
            <div class="pilih-kurir">
              <div *ngFor="let p of pilihanongkir; let i = index" (click)="kurirNasional(i)" [ngClass]="{'kurir-item-active': i == indexkurir, 'kurir-item' : i != indexkurir }">
                <div class="row">
                  <div class="col1">
                    <fa-icon icon="circle" class="text-medium" *ngIf="indexkurir != i"></fa-icon>
                    <fa-icon icon="check-circle" class="text-success" *ngIf="indexkurir == i"></fa-icon>
                  </div>
                  <div class="nama col7"><div class="font-medium">{{p.kurir}}</div>{{p.service}}</div>
                  <div class="biaya col4">Rp. {{p.harga|number:'':'es'}}</div>
                </div>
              </div>
            </div>
          </ion-content>
          <ion-footer class="ion-no-border btnwrap">
            <ion-button color="danger" expand="full" (click)="closeSelect()"><fa-icon icon="times"></fa-icon> &nbsp;Batal</ion-button>
          </ion-footer>
        </ng-template>
      </ion-modal>
    </div>
  </div>
  <div class="seg">
    <div class="row mb10">
      <div class="segtitle col8">Voucher Promo</div>
      <div *ngIf="alamat" class="col4 ubah"><span class="text-primary" (click)="openVoucher()">Pilih Voucher</span></div>
    </div>
    <div class="kurir">
      <div *ngIf="!voucheroke">
        <ion-button type="button" (click)="openVoucher()" color="primary" expand="full"><fa-icon [icon]="faPc"></fa-icon>&nbsp;&nbsp;Masukkan Kode Voucher</ion-button>
      </div>
      <div class="voucher" *ngIf="voucheroke">
        <div class="text-primary">{{vouchernama}}</div>
        <div class="nama"><b>Rp {{voucherdiskon|number:'':'es'}}</b> (maksimal Rp {{voucherdiskonmax|number:'':'es'}})</div>
      </div>
    </div>
  </div>
  <div class="seg">
    <div class="row mb10">
      <div class="segtitle col8">Metode Pembayaran</div>
      <div class="col4 ubah"><span class="text-primary" *ngIf="bayarmetode == 1" (click)="openMetode()">Ubah Metode</span></div>
    </div>
    <div class="pilihsaldo" *ngIf="saldo > 0 && !saldosip" (click)="bayarSaldo()">
      <div class="font-medium titel"><fa-icon [icon]="faDompet"></fa-icon> &nbsp;Klik untuk menggunakan saldo</div>
      <div class="">Saldo saat ini Rp. {{saldo|number:'':'es'}}</div>
    </div>
    <div class="pakesaldo" *ngIf="saldoke">
      <div class="font-bold titel"><fa-icon [icon]="faCek"></fa-icon> &nbsp;Bayar menggunakan saldo</div>
      <span *ngIf="saldo >= total">Saldo digunakan Rp. {{total|number:'':'es'}}</span>
      <span *ngIf="saldo < total">Saldo digunakan Rp. {{saldo|number:'':'es'}}</span>
    </div>
    <div class="saldokosong" *ngIf="saldo == 0 || saldokosong">
      pembayaran menggunakan saldo tidak dapat digunakan karena saldo Anda saat ini Rp. 0
    </div>
    <div class="saldokurang" *ngIf="saldokurang">
      saldo Anda saat ini kurang dari total tagihan pembayaran, maka sisanya silahkan lunasi dengan pilihan metode pembayaran dibawah
      <div class="mb10"></div>
      <div class="font-medium">Pembayaran Kurang: Rp. {{kurang|number:'':'es'}}</div>
    </div>
    <div class="pilihongkir">
      <ion-select formControlName="pilihmetode" interface="action-sheet" (ionChange)="pilihMetode()" #metode>
        <ion-select-option value="1" *ngIf="payment_cod == 1">Bayar Di Tempat (COD)</ion-select-option>
        <ion-select-option value="2" *ngIf="payment_transfer == 1">Transfer Manual</ion-select-option>
        <ion-select-option value="3" *ngIf="payment_tripay == 1">Tripay Otomatis (Virtual Account, Alfamart, dll)</ion-select-option>
        <ion-select-option value="4" *ngIf="payment_midtrans == 1">Midtrans Otomatis (Virtual Account, Alfamart, dll)</ion-select-option>
      </ion-select>
    </div>
    <div class="metode" (click)="openMetode()" *ngIf="bayarmetode == 1">
      {{metodetext}}
    </div>
    <div class="line"></div>
    <div class="bayar">
      <div class="row">
        <div class="col6">Harga Produk</div>
        <div class="col6 bold right" *ngIf="harga">{{harga|number:'':'es'}}</div>
        <div class="col6 bold right" *ngIf="!harga">0</div>
      </div>
      <div class="row">
        <div class="col6">Ongkos Kirim</div>
        <div class="col6 bold right" *ngIf="ongkir">{{ongkir|number:'':'es'}}</div>
        <div class="col6 bold right" *ngIf="!ongkir">0</div>
      </div>
      <div class="row" *ngIf="iscod">
        <div class="col6">Biaya Tambahan COD</div>
        <div class="col6 bold right" *ngIf="biayacod">{{biayacod|number:'':'es'}}</div>
        <div class="col6 bold right" *ngIf="!biayacod">0</div>
      </div>
      <div class="row text-danger" *ngIf="voucheroke">
        <div class="col6">Diskon</div>
        <div class="col6 bold right" *ngIf="voucherdiskon">-{{voucherdiskon|number:'':'es'}}</div>
        <div class="col6 bold right" *ngIf="!voucherdiskon">0</div>
      </div>
      <div class="mb20"></div>
      <div class="row total">
        <div class="col6 bold">Total Pembayaran</div>
        <div class="col6 bold right text-primary" *ngIf="total">{{total|number:'':'es'}}</div>
        <div class="col6 bold right text-primary" *ngIf="!total">0</div>
      </div>
    </div>
  </div>
  </form>
</ion-content>
<ion-footer class="btnwrap">
  <!--
  <div class="row">
    <div class="hargawrap">
      <div class="titel">Total Pembayaran</div>
      <div class="bold text-primary" *ngIf="total">{{total|number:'':'es'}}</div>
      <div class="bold text-primary" *ngIf="!total">0</div>
    </div>
  </div>
  -->
  <div *ngIf="isoke && paketoke">
    <ion-button expand="full" color="success" (click)="buatPesananWA()"><ion-icon class="btnicon" name="logo-whatsapp"></ion-icon> &nbsp;CHECKOUT WHATSAPP</ion-button>
  </div>
  <div *ngIf="isoke && paketoke">
    <ion-button expand="full" color="primary" (click)="buatPesanan()">LANJUT BAYAR PESANAN &nbsp;<ion-icon class="btnicon" name="chevron-forward-outline"></ion-icon></ion-button>
  </div>
  <div *ngIf="!isoke || !paketoke">
    <ion-button expand="full" color="medium">info belum lengkap</ion-button>
  </div>
</ion-footer>
