<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start" style="text-align: center;margin-left: 10px;">
      <ion-icon color="def" name="arrow-back" style="font-size:160%;" routerLink="/tabs/tab3"></ion-icon>
    </ion-buttons>
    <ion-title color="dark">Pembayaran Otomatis</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="center">
    <h3>Terima kasih</h3><br/>
    Pembayaran Anda akan otomatis terverifikasi oleh sistem Kami maksimal 10 menit.<br/>&nbsp;<br/>
    <ion-button size="large" color="primary" routerLink="/tabs/tab3">KEMBALI KE PESANAN</ion-button>
  </div>
</ion-content>
